.post--single {
  h1 {
    line-height: 1.25
  }
  .entry p:first-child {
    font-size: 1.4rem;
  }
}

.site-info {
  text-indent: -9999px;
  width: 450px;
  height: 200px;
  background-image: url('/images/logo.png');
  background-repeat: no-repeat;
  background-size: 450px auto;
  margin-left: 0;
  @include mobile {
    margin: 0 auto;
  }
  @media screen and (min-width: 856px) {
    margin-left: -73px;
  }
}

header nav {
  @include mobile {
    margin-bottom: 1rem;
    a {
      font-size: 1.25rem;
    }
  }
}

.masthead {
  padding-bottom: 0;
  border-bottom: 0;
}

.wrapper-masthead {
  margin-bottom: 0px;
}

#main h1 {
  margin-top: 0
}

.bg-tv-pink {
  background-color: $blue;
}
